#feira{
    width: 180px;
}
#reserva{
    width: 180px;
}

body{
    background-color: rgb(0, 195, 255);
}

p{
    background-color: cadetblue;
    color: blanchedalmond;
    text-align: center;
}

header{
    color: rgba(0, 255, 170, 0.411);
}

ol, ul{
    text-align: right;
}

#portifolio{
    border: 0ric;
}

h1{
    background-color: slategrey;
}

#classeInicio{
    font-style: italic;
}