body{
    background-color: rgb(42, 53, 59);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    text-align: center;
    color: aliceblue;
}

.container{
    display: flex;
    flex-direction: row
}

.menu{
    background-color: rgb(114, 127, 128);
    padding: 1rem;
    margin-right: 1rem;
    width: 15%;
    border-style: solid;
}

.conteudo{
    padding: 0rem;
    width: 60%;
}

ul{
    list-style: none;
}

.item-menu{
    padding: 0.5rem;
    margin: 0rem 0rem 0rem 0rem;
}

.item-menu:hover{
    background-color: steelblue;
}

.sec1{
    background-color: #daf0ea;
    padding: 2rem;
    border-style: solid;
}

.sec2{
    background-color: #daf0ea;
    padding: 2rem;
    border-style: solid;
}

.sec3{
    background-color: #daf0ea;
    padding: 2rem;
    border-style: solid;
}

.nome{
    text-align: center;
    color: aliceblue;
}

.contato_text{
    color: inherit;
    text-decoration: none;
}

.foto{
    width: 90%;
    border-style: solid;
}